@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/public/assets/fonts/PretendardVariable.woff2') format('woff2');
}

@layer base {
  html, body {
    font-family: 'Pretendard';
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    color: #111;
    height: 100%;
    width: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
    justify-content: center;
    max-width: 640px;
    min-width: 320px;
    margin:auto;
  }
}

::-webkit-scrollbar {
  width: 4px;
  background: '#inherit';
}

::-webkit-scrollbar-thumb {
  width: 4px;
  background: '#aaa';
}

::-webkit-scrollbar-thumb:hover {
  background: '#888';
}

:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #fff;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-max-w: 640px;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 16px;
}